<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Caminitos</h1>
                <p>
                    Muchas gracias por visitar nuestra pagina web. Somos un nuevo negocio de transportes en la republica mexicana
                    llamada Caminitos.
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d547.0935840958737!2d-110.81265526622268!3d27.952403813379128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1670227845909!5m2!1ses!2smx" width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Contamos con una sucursal en Empalme sonora, Justo en la central de camiones que se encuentra en la ciudad rielera.</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->